@use 'variables' as v;

@mixin telefono {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin xldesktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin grid($col, $gap) {
    display: grid;
    grid-template-columns: repeat($col, 1fr);
    gap: $gap;
}

@mixin reset-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin style-boton($color) {
    background-color: $color;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: .4rem;
    cursor: pointer;
}

@mixin style-boton-barra($color) {
    background-color: $color;
    color: #fff;
    border: none;
    padding: .4rem;
    border-radius: .4rem;
    cursor: pointer;
    font-weight: lighter;
}

@mixin style-input-barra {
    padding: .4rem;
    border-radius: .4rem;
    border-style: none;
}