@use 'base/variables' as v;
@use 'base/mixins' as m;




body {
    display: flex;
}

aside {
    background-color: rgb(28, 45, 89);

    width: 25rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;

    .nav-modulo {
        color: v.$blanco;
    }

}

.nav-link {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: .4rem;
    padding: 1rem;
    border-radius: .3rem;

    img {
        width: 12%;
    }

    span {
        margin-top: .5rem;
        font-size: 1.8rem;
    }


    &:hover {
        background-color: rgb(32 57 120 / 50%);
    }
}

.nav-logo {
    display: grid;
    margin: 2rem;


    img {
        width: 55%;
        grid-column: 1;
        margin-left: 2.5rem;
    }

    h1 {
        color: white;
        grid-column: 2;
        font-size: 3.5rem;
        font-family: 'Pacifico', cursive;
        margin-right: 2rem;
    }
}

.nav-link-logout {
    margin-top: 30rem;
    @include m.style-boton(red);
}