.panel {

    .form-datos {

        position: relative;
    }

    form input[type='text'] {
        padding: 1.5rem;
        width: 70rem;
        outline: none;
    }

    #product {
        background-color: #fff;
        border: none;
        color: #000;
        display: none;
        left: 31.1rem;
        list-style-type: none;
        margin: 0;
        max-height: 150px;
        overflow-y: auto;
        padding: 0;
        position: absolute;
        top: 4.6rem;
        width: 69.8rem;
    }

    #product li {
        cursor: pointer;
        padding: 5px;
    }


}